//- ====================================
//-  DOWNLOAD
//- ====================================
.eight.columns
  h3 Download
  p
    | Download Notify.js including the pre-made <code>bootstrap</code> notification style:
    br
    p
        a(href="//rawgit.com/notifyjs/notifyjs/master/dist/notify.js", data-download, data-filename="notify.js")
          button Download notify.js
        a(href="//rawgit.com/notifyjs/notifyjs/master/dist/notify.js", data-minify-download, data-filename="notify.min.js")
          button Download notify.min.js
